
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62,5%;

}

.blue {
    backgroud: blue
}

.red{
backgroud: red
} 

.flex-container {
    border: .3rem solid red;
    width: 80%;
    height: 70rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-item {
    font-size: 2rem;
    width: 20rem;
    height: 20rem;
    color:#fff;
}